<h2>Attributes</h2>
<div class="abilities flexcol">
  <!-- Strength -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="rollable flex" data-roll="3d6" data-label="Basic ST check">
      <label for="system.attributes.str.value" class="attribute-label">{{localize 'HYP3E.attributes.str.abbrev'}}</label>
      <i class="fas fa-dice"></i>
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.str.value" value="{{system.attributes.str.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.str.atkMod" value="{{system.attributes.str.atkMod}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d20 + @str.atkMod + @bab" data-label="Basic ST Attack">{{localize 'HYP3E.attributes.str.atkMod'}} <i class="fas fa-dice-d20"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.str.dmgMod" value="{{system.attributes.str.dmgMod}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.str.dmgMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.str.test" value="{{system.attributes.str.test}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d6" data-label="{{localize 'HYP3E.attributes.str.test'}}">{{localize 'HYP3E.attributes.str.test'}} <i class="fas fa-dice-d6"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.str.feat" value="{{system.attributes.str.feat}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-label="{{localize 'HYP3E.attributes.str.feat'}}">{{localize 'HYP3E.attributes.str.feat'}} <i class="fas fa-dice-d10"></i></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
  </div>
  <!-- Dexterity -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="rollable flex" data-roll="3d6" data-label="Basic DX check">
      <label for="system.attributes.dex.value" class="attribute-label">{{localize 'HYP3E.attributes.dex.abbrev'}}</label>
      <i class="fas fa-dice"></i>
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.dex.value" value="{{system.attributes.dex.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.dex.atkMod" value="{{system.attributes.dex.atkMod}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d20 + @dex.atkMod + @bab" data-label="Basic DX Attack">{{localize 'HYP3E.attributes.dex.atkMod'}} <i class="fas fa-dice-d20"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.dex.defMod" value="{{system.attributes.dex.defMod}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.dex.defMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.dex.test" value="{{system.attributes.dex.test}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d6" data-label="{{localize 'HYP3E.attributes.dex.test'}}">{{localize 'HYP3E.attributes.dex.test'}} <i class="fas fa-dice-d6"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.dex.feat" value="{{system.attributes.dex.feat}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-label="{{localize 'HYP3E.attributes.dex.feat'}}">{{localize 'HYP3E.attributes.dex.feat'}} <i class="fas fa-dice-d10"></i></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
  </div>
  <!-- Constitution -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="rollable flex" data-roll="3d6" data-label="Basic CN check">
      <label for="system.attributes.con.value" class="attribute-label">{{localize 'HYP3E.attributes.con.abbrev'}}</label>
      <i class="fas fa-dice"></i>
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.con.value" value="{{system.attributes.con.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.con.hpMod" value="{{system.attributes.con.hpMod}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.con.hpMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.con.poisRadMod" value="{{system.attributes.con.poisRadMod}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.con.poisRadMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.con.traumaSurvive" value="{{system.attributes.con.traumaSurvive}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-label="{{localize 'HYP3E.attributes.con.traumaSurvive'}}">{{localize 'HYP3E.attributes.con.traumaSurvive'}} <i class="fas fa-dice-d10"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.con.test" value="{{system.attributes.con.test}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d6" data-label="{{localize 'HYP3E.attributes.con.test'}}">{{localize 'HYP3E.attributes.con.test'}} <i class="fas fa-dice-d6"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.con.feat" value="{{system.attributes.con.feat}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-label="{{localize 'HYP3E.attributes.con.feat'}}">{{localize 'HYP3E.attributes.con.feat'}} <i class="fas fa-dice-d10"></i></span>
    </div>
  </div>
  <!-- Intelligence -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="rollable flex" data-roll="3d6" data-label="Basic IN check">
      <label for="system.attributes.int.value" class="attribute-label">{{localize 'HYP3E.attributes.int.abbrev'}}</label>
      <i class="fas fa-dice"></i>
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.int.value" value="{{system.attributes.int.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.int.languages" value="{{system.attributes.int.languages}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.int.languages'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.int.bonusSpells" value="{{system.attributes.int.bonusSpells}}" data-dtype="String"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.int.bonusSpells'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.int.learnSpell" value="{{system.attributes.int.learnSpell}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-label="{{localize 'HYP3E.attributes.int.learnSpell'}}">{{localize 'HYP3E.attributes.int.learnSpell'}} <i class="fas fa-dice-d10"></i></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
  </div>
  <!-- Wisdom -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="rollable flex" data-roll="3d6" data-label="Basic WS check">
      <label for="system.attributes.wis.value" class="attribute-label">{{localize 'HYP3E.attributes.wis.abbrev'}}</label>
      <i class="fas fa-dice"></i>
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.wis.value" value="{{system.attributes.wis.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.wis.willMod" value="{{system.attributes.wis.willMod}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.wis.willMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.wis.bonusSpells" value="{{system.attributes.wis.bonusSpells}}" data-dtype="String"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.wis.bonusSpells'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.wis.learnSpell" value="{{system.attributes.wis.learnSpell}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-label="{{localize 'HYP3E.attributes.wis.learnSpell'}}">{{localize 'HYP3E.attributes.wis.learnSpell'}} <i class="fas fa-dice-d10"></i></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
  </div>
  <!-- Charisma -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="rollable flex" data-roll="3d6" data-label="Basic CH check">
      <label for="system.attributes.cha.value" class="attribute-label">{{localize 'HYP3E.attributes.cha.abbrev'}}</label>
      <i class="fas fa-dice"></i>
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.cha.value" value="{{system.attributes.cha.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.cha.reaction" value="{{system.attributes.cha.reaction}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.cha.reaction'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.cha.maxHenchmen" value="{{system.attributes.cha.maxHenchmen}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.cha.maxHenchmen'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.cha.turnUndead" value="{{system.attributes.cha.turnUndead}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.cha.turnUndead'}}</span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
  </div>

</div>
