<div class="abilities flexrow">
  <h2>
    {{localize "HYP3E.headers.attributes"}} 
    <span class="rollable flex" data-roll="" data-roll-type="setAttr" title="Set Attribute Modifiers">
      <i class="fa fa-book" style="font-size: small"></i>
    </span>
  </h2>
</div>
<div class="abilities flexcol">
  <!-- Strength -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="flex">
      <label for="system.attributes.str.value" class="attribute-label">{{localize 'HYP3E.attributes.str.abbrev'}}</label>
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.str.value" value="{{system.attributes.str.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.str.atkMod" value="{{numberFormat system.attributes.str.atkMod decimals=0 sign=true}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.str.atkMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.str.dmgMod" value="{{numberFormat system.attributes.str.dmgMod decimals=0 sign=true}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.str.dmgMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.str.test" value="{{system.attributes.str.test}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d6" data-roll-type="check" data-roll-target="{{system.attributes.str.test}}" data-label="{{localize 'HYP3E.attributes.str.test'}}">{{localize 'HYP3E.attributes.str.test'}} <i class="fas fa-dice-d6"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.str.feat" value="{{system.attributes.str.feat}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-roll-type="check" data-roll-target="{{system.attributes.str.feat}}" data-label="{{localize 'HYP3E.attributes.str.feat'}}">{{localize 'HYP3E.attributes.str.feat'}} <i class="fas fa-dice-d10"></i></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
  </div>
  <!-- Dexterity -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="flex">
      <label for="system.attributes.dex.value" class="attribute-label">{{localize 'HYP3E.attributes.dex.abbrev'}}</label>
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.dex.value" value="{{system.attributes.dex.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.dex.atkMod" value="{{numberFormat system.attributes.dex.atkMod decimals=0 sign=true}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.dex.atkMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.dex.defMod" value="{{numberFormat system.attributes.dex.defMod decimals=0 sign=true}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.dex.defMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.dex.test" value="{{system.attributes.dex.test}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d6" data-roll-type="check" data-roll-target="{{system.attributes.dex.test}}" data-label="{{localize 'HYP3E.attributes.dex.test'}}">{{localize 'HYP3E.attributes.dex.test'}} <i class="fas fa-dice-d6"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.dex.feat" value="{{system.attributes.dex.feat}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-roll-type="check" data-roll-target="{{system.attributes.dex.feat}}" data-label="{{localize 'HYP3E.attributes.dex.feat'}}">{{localize 'HYP3E.attributes.dex.feat'}} <i class="fas fa-dice-d10"></i></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
  </div>
  <!-- Constitution -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="flex">
      <label for="system.attributes.con.value" class="attribute-label">{{localize 'HYP3E.attributes.con.abbrev'}}</label>
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.con.value" value="{{system.attributes.con.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.con.hpMod" value="{{numberFormat system.attributes.con.hpMod decimals=0 sign=true}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.con.hpMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.con.poisRadMod" value="{{numberFormat system.attributes.con.poisRadMod decimals=0 sign=true}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.con.poisRadMod'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.con.traumaSurvive" value="{{system.attributes.con.traumaSurvive}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-roll-type="check" data-roll-target="{{system.attributes.con.traumaSurvive}}" data-label="{{localize 'HYP3E.attributes.con.traumaSurvive'}}">{{localize 'HYP3E.attributes.con.traumaSurvive'}} <i class="fas fa-dice-d10"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.con.test" value="{{system.attributes.con.test}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d6" data-roll-type="check" data-roll-target="{{system.attributes.con.test}}" data-label="{{localize 'HYP3E.attributes.con.test'}}">{{localize 'HYP3E.attributes.con.test'}} <i class="fas fa-dice-d6"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.con.feat" value="{{system.attributes.con.feat}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-roll-type="check" data-roll-target="{{system.attributes.con.feat}}" data-label="{{localize 'HYP3E.attributes.con.feat'}}">{{localize 'HYP3E.attributes.con.feat'}} <i class="fas fa-dice-d10"></i></span>
    </div>
  </div>
  <!-- Intelligence -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="{{#if enableAttrChecks}}rollable{{/if}} flex" data-roll="{{enableAttrChecks}}" data-roll-type="check" data-roll-target="{{system.attributes.int.value}}" data-label="{{localize 'HYP3E.attributes.int.check'}}">
      <label for="system.attributes.int.value" class="attribute-label">{{localize 'HYP3E.attributes.int.abbrev'}}</label>
      {{#if enableAttrChecks}}<i class="fas fa-dice"></i>{{/if}}
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.int.value" value="{{system.attributes.int.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.int.languages" value="{{numberFormat system.attributes.int.languages decimals=0 sign=true}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.int.languages'}}</span>
    </div>
    <div class="attribute-mod">
      <div class="flexrow">
        <a class="bonus-spell {{#unless system.attributes.int.bonusSpells.lvl1}}no-bonus{{/unless}}" data-spell-lvl="intLvl1" title='{{localize "HYP3E.dataLabel.bonusLvl1"}}'><i class="fas fa-scroll"></i></a>
        <a class="bonus-spell {{#unless system.attributes.int.bonusSpells.lvl2}}no-bonus{{/unless}}" data-spell-lvl="intLvl2" title='{{localize "HYP3E.dataLabel.bonusLvl2"}}'><i class="fas fa-scroll"></i></a>
        <a class="bonus-spell {{#unless system.attributes.int.bonusSpells.lvl3}}no-bonus{{/unless}}" data-spell-lvl="intLvl3" title='{{localize "HYP3E.dataLabel.bonusLvl3"}}'><i class="fas fa-scroll"></i></a>
        <a class="bonus-spell {{#unless system.attributes.int.bonusSpells.lvl4}}no-bonus{{/unless}}" data-spell-lvl="intLvl4" title='{{localize "HYP3E.dataLabel.bonusLvl4"}}'><i class="fas fa-scroll"></i></a>
      </div>
      <span class="mod-label">{{localize 'HYP3E.attributes.int.bonusSpells'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.int.learnSpell" value="{{system.attributes.int.learnSpell}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-roll-type="check" data-roll-target="{{system.attributes.int.learnSpell}}" data-label="{{localize 'HYP3E.attributes.int.learnSpell'}}">{{localize 'HYP3E.attributes.int.learnSpell'}} <i class="fas fa-dice-d10"></i></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
  </div>
  <!-- Wisdom -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="{{#if enableAttrChecks}}rollable{{/if}} flex" data-roll="{{enableAttrChecks}}" data-roll-type="check" data-roll-target="{{system.attributes.wis.value}}" data-label="{{localize 'HYP3E.attributes.wis.check'}}">
      <label for="system.attributes.wis.value" class="attribute-label">{{localize 'HYP3E.attributes.wis.abbrev'}}</label>
      {{#if enableAttrChecks}}<i class="fas fa-dice"></i>{{/if}}
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.wis.value" value="{{system.attributes.wis.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.wis.willMod" value="{{numberFormat system.attributes.wis.willMod decimals=0 sign=true}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.wis.willMod'}}</span>
    </div>
    <div class="attribute-mod">
      <div class="flexrow">
        <a class="bonus-spell {{#unless system.attributes.wis.bonusSpells.lvl1}}no-bonus{{/unless}}" data-spell-lvl="wisLvl1" title='{{localize "HYP3E.dataLabel.bonusLvl1"}}'><i class="fas fa-scroll"></i></a>
        <a class="bonus-spell {{#unless system.attributes.wis.bonusSpells.lvl2}}no-bonus{{/unless}}" data-spell-lvl="wisLvl2" title='{{localize "HYP3E.dataLabel.bonusLvl2"}}'><i class="fas fa-scroll"></i></a>
        <a class="bonus-spell {{#unless system.attributes.wis.bonusSpells.lvl3}}no-bonus{{/unless}}" data-spell-lvl="wisLvl3" title='{{localize "HYP3E.dataLabel.bonusLvl3"}}'><i class="fas fa-scroll"></i></a>
        <a class="bonus-spell {{#unless system.attributes.wis.bonusSpells.lvl4}}no-bonus{{/unless}}" data-spell-lvl="wisLvl4" title='{{localize "HYP3E.dataLabel.bonusLvl4"}}'><i class="fas fa-scroll"></i></a>
      </div>
      <span class="mod-label">{{localize 'HYP3E.attributes.wis.bonusSpells'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.wis.learnSpell" value="{{system.attributes.wis.learnSpell}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="1d100" data-roll-type="check" data-roll-target="{{system.attributes.wis.learnSpell}}" data-label="{{localize 'HYP3E.attributes.wis.learnSpell'}}">{{localize 'HYP3E.attributes.wis.learnSpell'}} <i class="fas fa-dice-d10"></i></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
    <div class="attribute-mod">
      <span></span>
    </div>
  </div>
  <!-- Charisma -->
  <div class="attribute-row flexrow flex-group-center">
    <span class="flex">
      <label for="system.attributes.cha.value" class="attribute-label">{{localize 'HYP3E.attributes.cha.abbrev'}}</label>
    </span>
    <div class="attribute-value">
      <input type="text" name="system.attributes.cha.value" value="{{system.attributes.cha.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.cha.reaction" value="{{numberFormat system.attributes.cha.reaction decimals=0 sign=true}}" data-dtype="Number"/>
      <span class="rollable mod-label" data-roll="2d6+{{system.attributes.cha.reaction}}" data-roll-type="basic" data-roll-target="{{system.attributes.cha.reaction}}" data-label="{{localize 'HYP3E.attributes.cha.reaction'}}">{{localize 'HYP3E.attributes.cha.reaction'}} <i class="fas fa-dice"></i></span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.cha.maxHenchmen" value="{{system.attributes.cha.maxHenchmen}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.cha.maxHenchmen'}}</span>
    </div>
    <div class="attribute-mod">
      <input type="text" name="system.attributes.cha.turnUndead" value="{{numberFormat system.attributes.cha.turnUndead decimals=0 sign=true}}" data-dtype="Number"/>
      <span class="mod-label">{{localize 'HYP3E.attributes.cha.turnUndead'}}</span>
    </div>
    <div class="attribute-mod">
      {{!-- <span></span> --}}
      <label for="system.fa" class="combat-label">{{localize "HYP3E.turningAbility"}}</label>
    </div>
    <div class="attribute-mod">
      {{!-- <span></span> --}}
      <input type="text" name="system.ta" value="{{system.ta}}" data-dtype="Number"/>
    </div>
  </div>
</div>
