{{!-- Fighting skills and combat-related abilities --}}
<div class="resource-content flexrow">
  <div class="npc-stat-block flexcol">
    {{!-- Basic combat stats here --}}
    <h3>Combat Stats</h3>
    <div class="attribute-row flexrow">
      <label for="system.hp.value" class="combat-label">HP</label>
      <input type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
      /
      <input type="text" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number"/>
    </div>
    <div class="attribute-row flexrow">
      <span class="combat-label rollable" data-roll="{{system.hd}}" data-label="Hit Dice">
        <label for="system.hd">Hit Dice</label> 
        <i class="fas fa-dice-d6"></i>
      </span>
      <input type="text" name="system.hd" value="{{system.hd}}" data-dtype="String"/>
    </div>
    <div class="attribute-row flexrow">
      <label for="system.fa.value" class="combat-label">Fighting Ability</label>
      <input type="text" name="system.fa.value" value="{{system.fa.value}}" data-dtype="Number" />
    </div>
    <div class="attribute-row flexrow">
      <label for="system.ac.value" class="combat-label">Armor Class</label>
      <input type="text" name="system.ac.value" value="{{system.ac.value}}" data-dtype="Number" />
    </div>
    <div class="attribute-row flexrow">
      <label for="system.ac.dr" class="combat-label">DR</label>
      <input type="text" name="system.ac.dr" value="{{system.ac.dr}}" data-dtype="Number" />
    </div>
    <div class="attribute-row flexrow">
      <label for="system.movement.base.value" class="combat-label">{{localize "HYP3E.movement.base.abbrev"}}</label>
      <input type="text" name="system.movement.base.value" value="{{system.movement.base.value}}" data-dtype="Number"/>
    </div>
    <div class="attribute-row flexrow">
      <label for="system.otherMv.value" class="combat-label">{{localize "HYP3E.otherMv.abbrev"}}</label>
      <input type="text" name="system.otherMv.value" value="{{system.otherMv.value}}" data-dtype="String"/>
    </div>
  </div>
  <div class="npc-description-block">
    {{!-- Saving throws here --}}
    <div class="combat-block flexrow">
      <div class="resource-content flexrow flex-group-center">
        <h3>Saving Throws</h3>
      </div>  
    </div>
    <div class="saves-block flexrow flex-between">
      <div class="combat-block flexrow flex-group-center">
        <span class="rollable" data-roll-type="save" data-roll="1d20" data-label="Death Save">
          <label for="system.saves.death.value" class="combat-label">{{localize "HYP3E.saves.death.abbrev"}}</label>
          <i class="fas fa-dice-d20"></i>
          </span>
        <input type="text" name="system.saves.death.value" value="{{system.saves.death.value}}"/>
      </div>
      <div class="combat-block flexrow flex-group-center">
        <span class="rollable" data-roll-type="save" data-roll="1d20" data-label="Device Save">
          <label for="system.saves.device.value" class="combat-label">{{localize "HYP3E.saves.device.abbrev"}}</label>
          <i class="fas fa-dice-d20"></i>
        </span>
        <input type="text" name="system.saves.device.value" value="{{system.saves.device.value}}"/>
      </div>
      <div class="combat-block flexrow flex-group-center">
        <span class="rollable" data-roll-type="save" data-roll="1d20" data-label="Transformation Save">
          <label for="system.saves.transformation.value" class="combat-label">{{localize "HYP3E.saves.transformation.abbrev"}}</label>
          <i class="fas fa-dice-d20"></i>
        </span>
        <input type="text" name="system.saves.transformation.value" value="{{system.saves.transformation.value}}"/>
      </div>
      <div class="combat-block flexrow flex-group-center">
        <span class="rollable" data-roll-type="save" data-roll="1d20" data-label="Avoidance Save">
          <label for="system.saves.avoidance.value" class="combat-label">{{localize "HYP3E.saves.avoidance.abbrev"}}</label>
          <i class="fas fa-dice-d20"></i>
        </span>
        <input type="text" name="system.saves.avoidance.value" value="{{system.saves.avoidance.value}}"/>
      </div>
      <div class="combat-block flexrow flex-group-center">
        <span class="rollable" data-roll-type="save" data-roll="1d20" data-label="Sorcery Save">
          <label for="system.saves.sorcery.value" class="combat-label">{{localize "HYP3E.saves.sorcery.abbrev"}}</label>
          <i class="fas fa-dice-d20"></i>
        </span>
        <input type="text" name="system.saves.sorcery.value" value="{{system.saves.sorcery.value}}"/>
      </div>
    </div>
    {{!-- Natural abilities, weapons and other items here --}}
    <h3>Abilities & Items</h3>
    {{> "systems/hyp3e/templates/actor/parts/actor-all-items.hbs"}}
  </div>
</div>