<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-block">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="flexrow">
        <div class="resource flexrow flex-group-center">
          <label class="resource-label">{{localize 'HYP3E.spell.classes'}}</label>
          <input type="text" name="system.classList" value="{{system.classList}}" />
        </div>
        <div class="resource flexrow flex-group-center">
          <label class="resource-label">{{localize 'HYP3E.details.level'}}</label>
          <input type="text" name="system.spellLevel" value="{{system.spellLevel}}" />
          <label class="resource-label">{{localize 'HYP3E.spell.numMem'}}</label>
          <input type="text" name="system.memorized" value="{{system.memorized}}" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'HYP3E.tabs.details'}}</a>
    <a class="item" data-tab="attributes">{{localize 'HYP3E.tabs.attributes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="flexrow">

        {{!-- Spell Attributes --}}
        <div class="flexshrink flex-group-center item-attributes">
          <label class="resource-label">{{localize 'HYP3E.weapon.range'}}</label>
          <input type="text" name="system.range" value="{{system.range}}" />
          <label class="resource-label">{{localize 'HYP3E.spell.duration'}}</label>
          <input type="text" name="system.duration" value="{{system.duration}}" />
          <label class="resource-label">{{localize 'HYP3E.spell.numAffected'}}</label>
          <input type="text" name="system.affected" value="{{system.affected}}" />
          <label class="resource-label">{{localize 'HYP3E.spell.save'}}</label>
          <div class="form-fields">
            <select name="system.save">
              {{#select system.save}}
              <option value=""></option>
              {{#each system.saves as |save t|}}
              <option value="{{save}}">{{save}}</option>
              {{log 't='t 'save='save}}
              {{/each}}
              {{/select}}
            </select>
          </div>
          <label class="resource-label">{{localize 'HYP3E.attackRoll'}}</label>
          <input name="system.atkRoll" type="checkbox" {{checked system.atkRoll}}><br />
          <label for="system.damage" class="resource-label">{{localize 'HYP3E.headers.damage'}}</label>
          <input type="text" name="system.damage" value="{{system.damage}}" />
        </div>

        {{!-- Description --}}
        <div class="flex item-description">
          <h3>{{localize 'HYP3E.tabs.description'}}</h3>
          {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
          {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        {{log 'User is GM? 'isGM}}
        {{#if isGM}}
        {{!-- {{#if rollData.isGM}} --}}
        <label class="resource-label">{{localize 'HYP3E.rollFormula'}}</label>
        <input type="text" name="system.formula" value="{{system.formula}}" />
        {{/if}}
        <label class="resource-label">{{localize 'HYP3E.dataLabel.friendlyName'}}</label>
        <input type="text" name="system.friendlyName" value="{{system.friendlyName}}" />
        <label class="resource-label">{{localize 'HYP3E.dataLabel.itemId'}}</label>
        <input type="text" name="item._id" value="{{item._id}}" disabled/>
      </div>
    </div>
  </section>
</form>
