<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-block">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="flexrow">
        <div class="resource flexrow flex-group-center">
          <label class="resource-label">{{localize 'HYP3E.item.equipped'}}</label>
          <input name="system.equipped" type="checkbox" {{checked system.equipped}}>
        </div>
        <div class="resource flexrow flex-group-center">
          <label class="resource-label">{{localize 'HYP3E.item.qty'}}</label>
          <input type="text" name="system.quantity.value" value="{{system.quantity.value}}" data-dtype="Number"/>
        </div>
        <div class="resource flexrow flex-group-center">
          <label class="resource-label">{{localize 'HYP3E.item.cost'}}</label>
          <input type="text" name="system.cost" value="{{system.cost}}" />
        </div>
        <div class="resource flexrow flex-group-center">
          <label class="resource-label">{{localize 'HYP3E.item.weight'}}</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'HYP3E.tabs.details'}}</a>
    <a class="item" data-tab="attributes">{{localize 'HYP3E.tabs.attributes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="flexrow">

        {{!-- Armor Attributes --}}
        <div class="flexshrink flex-group-center item-attributes">
          <label class="resource-label">{{localize 'HYP3E.armor.wtClass'}}</label>
          <div class="form-fields">
            <select name="system.type">
              <option value=""></option>
              {{selectOptions armorTypes selected=system.type localize=true}}
            </select>
          </div>
          <label class="resource-label">{{localize 'HYP3E.armor.armorClass'}}</label>
          <input type="text" name="system.ac" value="{{system.ac}}" data-dtype="Number" />
          <label class="resource-label">{{localize 'HYP3E.armor.dmgReduct'}}</label>
          <input type="text" name="system.dr" value="{{system.dr}}" data-dtype="Number" />
          <label class="resource-label">{{localize 'HYP3E.movement.base.name'}}</label>
          <input type="text" name="system.mv" value="{{system.mv}}" data-dtype="Number" />
        </div>

        {{!-- Description --}}
        <div class="flex item-description">
          <h3>{{localize 'HYP3E.tabs.description'}}</h3>
          {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
          {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        {{log 'User is GM? 'isGM}}
        {{#if isGM}}
        {{!-- {{#if rollData.isGM}} --}}
        {{!-- <label class="resource-label">{{localize 'HYP3E.rollFormula'}}</label>
        <input type="text" name="system.formula" value="{{system.formula}}"/> --}}
        {{/if}}
        <label class="resource-label">{{localize 'HYP3E.dataLabel.friendlyName'}}</label>
        <input type="text" name="system.friendlyName" value="{{system.friendlyName}}" />
        <label class="resource-label">{{localize 'HYP3E.dataLabel.itemId'}}</label>
        <input type="text" name="item._id" value="{{item._id}}" disabled/>
        <label class="resource-label">{{localize 'HYP3E.dataLabel.containerId'}}</label>
        <input type="text" name="system.containerId" value="{{system.containerId}}"/>
      </div>
    </div>
  </section>
</form>
