<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-block">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="flexrow">

        {{!-- Class Feature Attributes --}}
        <div class="flexcol flexshrink flex-group-center item-attributes">
          <label class="resource-label">Class</label>
          <input type="text" name="system.class" value="{{system.class}}" data-dtype="String"/>
          <label class="resource-label">Level</label>
          <input type="text" name="system.level" value="{{system.level}}" data-dtype="String"/>
          <label class="resource-label">Check Roll</label>
          <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String"/>
          <label class="resource-label">Target</label>
          <input type="text" name="system.tn" value="{{system.tn}}" data-dtype="String"/>
          <label class="resource-label">Blind Roll</label>
          <select name="system.blindRoll">
            {{#select system.blindRoll}}
            <option value=""></option>
            <option value="true">True</option>
            <option value="false">False</option>
            {{/select}}
          </select>
          <label class="resource-label">Save</label>
          <div class="form-fields">
            <select name="system.save">
              {{#select system.save}}
              <option value=""></option>
              {{#each system.saves as |save t|}}
              <option value="{{save}}">{{save}}</option>
              {{log 't='t 'save='save}}
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>

        {{!-- Description --}}
        <div class="flex item-description">
          {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
          {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        {{#if rollData.isGM}}
        {{!-- <label class="resource-label">System Roll Formula</label>
        <input type="text" name="system.formula" value="{{system.formula}}" disabled/> --}}
        {{/if}}
        <label class="resource-label">Item ID</label>
        <input type="text" name="item._id" value="{{item._id}}" disabled/>
      </div>
  </div>
  </section>

</form>
